spring:
    jpa:
        hibernate:
            ddl-auto:
        show-sql: true
    h2:
        console:
            enabled: true
            path: /h2
    datasource:
        url: jdbc:h2:file:~/petz
        username: sa
        password: admin
        driver-class-name: org.h2.Driver
